.card {
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    background-color: var(--card-bg-rgb-5);
    box-shadow: var(--box-shadow);
    min-height: 6rem;
    padding: 1.5rem 1rem;
}

.cardTitle {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cardReleaseDate {
    font-size: .75rem;
    font-weight: normal;
}

.cardBody {
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cardBody h2 {
    font-weight: 600;
}

.cardBody ul {
    padding-left: 1rem;
}

.cardBody ul li:not(:last-child) {
    margin-bottom: 1rem;
}

.cardFooter {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.cardFooter a {
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: .35rem;
    transition: gap .1s linear;
}

.cardFooter a:hover {
    text-decoration: underline;
    gap: .65rem;
}