.main {
    max-width: 55rem;
    margin: 0 auto;
}

.ctaBack {
    padding: 1.5rem 0;
}

.backButton {
    all: unset;
    padding: 1rem 2rem;
    font-weight: bold;
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all ease-in .3s; 
}

.backButton:hover {
    transform: translate(3px, 3px);
    background-color: var(--card-bg-rgb-4);
    box-shadow: 3px 3px var(--black-rgb);
}

.backButton:active {
    transform: translate(6px, 6px);
    background-color: var(--card-bg-rgb-5);
    box-shadow: 0px 0px;
}

.wrapper {
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    min-height: 80vh; 
    box-shadow: var(--box-shadow);
    margin-bottom: 3rem;
}